flow.json
[{"id":"a89b9fde.8c9c2","type":"tab","label":"main","disabled":false,"info":""},{"id":"7ea89789.9d5d58","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"ba2114f1.a1b428","type":"tab","label":"フロー 3","disabled":false,"info":""},{"id":"bd2546af.32d818","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"868756f3.4ff398","type":"ui_group","z":"","name":"電源電圧","tab":"20e3aaa0.8d34d6","order":1,"disp":true,"width":"9","collapse":false},{"id":"f7284f99.1d5c1","type":"ui_group","z":"","name":"温度","tab":"216ffee2.4c1d82","order":1,"disp":true,"width":"9","collapse":false},{"id":"dc3f775b.446e38","type":"ui_group","z":"","name":"湿度","tab":"216ffee2.4c1d82","order":2,"disp":true,"width":"9","collapse":false},{"id":"43c388d2.6587c8","type":"ui_group","z":"","name":"明るさ","tab":"216ffee2.4c1d82","order":4,"disp":true,"width":"9","collapse":false},{"id":"1e0e2b04.c72895","type":"ui_group","z":"","name":"通信品質","tab":"20e3aaa0.8d34d6","order":2,"disp":true,"width":"9","collapse":false},{"id":"713aba5a.7d3414","type":"ui_group","z":"","name":"不快指数","tab":"216ffee2.4c1d82","order":3,"disp":true,"width":8,"collapse":false},{"id":"20e3aaa0.8d34d6","type":"ui_tab","z":"","name":"管理","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"216ffee2.4c1d82","type":"ui_tab","z":"","name":"環境","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e8ef3574.9320a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3198ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#3198ff","edited":true},"page-titlebar-backgroundColor":{"value":"#3198ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#7dbeff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3198ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e401adf9.cc5e8","type":"ui_group","z":"","name":"Charts","tab":"8c454d81.ab3c2","order":2,"disp":false,"width":"6"},{"id":"fa25f148.10a8e","type":"ui_group","z":"","name":"Inputs","tab":"8c454d81.ab3c2","order":1,"disp":false,"width":"6"},{"id":"8ed281bc.09ffa","type":"ui_group","z":"","name":"Group 3","tab":"8c454d81.ab3c2","order":3,"disp":false,"width":"6"},{"id":"8c454d81.ab3c2","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"a747799b.7ed2d8","type":"sqlitedb","z":0,"db":"mydb.sqlite3","mode":"RWC"},{"id":"e19d0dc0.4115d","type":"serial in","z":"a89b9fde.8c9c2","name":"","serial":"bd2546af.32d818","x":90,"y":180,"wires":[["35ab3eee.d8b7c2","a8f23c9d.18cb1"]]},{"id":"79753573.95d6ec","type":"debug","z":"a89b9fde.8c9c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":437.0173568725586,"y":204.6840362548828,"wires":[]},{"id":"3bd91b47.270614","type":"comment","z":"a89b9fde.8c9c2","name":"AMB 固定長インプット","info":"App_PAL-Parent-BLUE-MONOSTICK.bin","x":141.57986450195312,"y":74.0000057220459,"wires":[]},{"id":"35ab3eee.d8b7c2","type":"debug","z":"a89b9fde.8c9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"2223fc59.819984","type":"cpu","z":"a89b9fde.8c9c2","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":350,"y":880,"wires":[["7b43e3bc.49d37c","f47aba17.834828"]]},{"id":"8482c726.8f99e8","type":"inject","z":"a89b9fde.8c9c2","name":"CPU情報","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"2","x":150,"y":880,"wires":[["2223fc59.819984"]]},{"id":"7b43e3bc.49d37c","type":"debug","z":"a89b9fde.8c9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":920,"wires":[]},{"id":"f47aba17.834828","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"868756f3.4ff398","order":2,"width":0,"height":0,"gtype":"gage","title":"Host CPU","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":880,"wires":[]},{"id":"ecaea0c7.42cef","type":"inject","z":"a89b9fde.8c9c2","name":"タブ切り替え","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"15","x":160,"y":980,"wires":[[]]},{"id":"a47bfd79.bb5bf","type":"function","z":"a89b9fde.8c9c2","name":"タブ切り替え","func":"var tab = flow.get('tab') || 0;\n\nif (tab === 0) {\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\nflow.set('tab', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":980,"wires":[["42e96c15.354264"]]},{"id":"42e96c15.354264","type":"ui_ui_control","z":"a89b9fde.8c9c2","name":"","events":"change","x":540,"y":980,"wires":[[]]},{"id":"a8f23c9d.18cb1","type":"function","z":"a89b9fde.8c9c2","name":"AMB","func":"let data = msg.payload;\n\nv = (value, start, end) => {\n  return parseInt(value.substr(start, end), 16);\n}\n\nn = (value) => {\n  senser = value\n  if (value === 0x00) {\n    senser = 'hall-ic'  // ホールIC\n  } else if (value === 0x01) {\n    senser = 'temperature'\n  } else if (value === 0x02) {\n    senser = 'humidity'\n  } else if (value === 0x03) {\n    senser = 'Illuminance'\n  } else if (value === 0x30) {\n    senser = 'voltage'\n  }\n  return senser;\n}\n\nphaseData = (rect) => {\n  let payload = {};\n  let data = rect\n  if (data[0] != ':') return null\n\n  payload.arriveTime = new Date().toLocaleString(\"ja\")\n  payload.routerId = v(data, 1, 8)  // #1\n  if (payload.routerId != 0x80000000) return null;\n\n  payload.LQI = v(data, 9, 2) // #2\n  payload.SEQ = v(data, 11, 4) // #3\n  payload.endDeviceSerial = v(data, 15, 8) // #4\n  payload.endDeviceId = v(data, 23, 2) // #5\n  payload.senserCat = v(data, 25, 2)  // #6 PAL: 0x80固定\n  // #10 PAL ver  MAG：0x01  AMB：0x02  MOT：0x03\n  payload.palId = (v(data, 27, 2) & 0b00011110)\n  // #10 上位3ビット\n  payload.palVersion = (v(data, 27, 2) & 0xE0) >> 5;\n  // change bit\n  payload.palVersion = (payload.palVersion & 0x01) << 2 | payload.palVersion & 0x02 | (payload.palVersion & 0x04) >> 2\n\n  payload.numSenser = v(data, 29, 2)  // #11\n  if (!payload.numSenser) return null\n\n  payload.datas = {}\n  // payload.sensers = []\n  let __addr = 31\n  for (let i = 0; i < payload.numSenser; i++) {\n    let senser = {}\n    // senser.dataType = v(data, __addr, 2)\n    let senser_type = v(data, __addr + 2, 2) // #2\n    senser.type = senser_type\n\n    senser.dataSource = n(senser_type)\n\n    let datalen = v(data, __addr + 6, 2) // #4\n\n    if (senser.dataSource == 'voltage') {\n      // #3\n      senser.voltage_source = v(data, __addr + 4, 2)\n      // 0x08 電源電圧のみ対象\n      if (senser.voltage_source != 0x08) {\n        __addr += 8 + datalen * 2;\n        continue\n      }\n    }\n    senser.data = v(data, __addr + 8, datalen * 2)\n    if (senser.dataSource == 'temperature') senser.data /= 100.0;\n    if (senser.dataSource == 'humidity') senser.data /= 100.0;\n    // if (senser.dataSource == '照度') senser.data /= 100;\n    __addr += 8 + datalen * 2;\n    // payload.sensers.push(senser);\n\n    payload.datas[senser.dataSource] = senser\n  }\n  // msg.payload = payload;\n\n  return payload\n}\n\nmsg.payload = phaseData(data);\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["307a005e.ad683","6cc6778f.12d1e8","2b0f00ad.840d5","5447efe1.4aebc","bb85afc9.193da","4adfa7d3.162f78","79753573.95d6ec"]]},{"id":"b666c2b9.45676","type":"ui_chart","z":"a89b9fde.8c9c2","name":"温度","group":"f7284f99.1d5c1","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"温度","dot":false,"ymin":"12","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":360,"wires":[[]],"outputLabels":["payload.sensers[2].data"]},{"id":"307a005e.ad683","type":"change","z":"a89b9fde.8c9c2","name":"温度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.temperature.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["9b83ee3b.a35bc","b666c2b9.45676"]]},{"id":"9b83ee3b.a35bc","type":"ui_text","z":"a89b9fde.8c9c2","group":"f7284f99.1d5c1","order":1,"width":0,"height":0,"name":"","label":"現在の温度","format":"{{msg.payload}} ℃","layout":"row-left","x":510,"y":320,"wires":[]},{"id":"6cc6778f.12d1e8","type":"change","z":"a89b9fde.8c9c2","name":"湿度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.humidity.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":400,"wires":[["74a492f0.01eb1c","9fc22c1.f3df5d"]]},{"id":"74a492f0.01eb1c","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"dc3f775b.446e38","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":440,"wires":[[]]},{"id":"9fc22c1.f3df5d","type":"ui_text","z":"a89b9fde.8c9c2","group":"dc3f775b.446e38","order":1,"width":0,"height":0,"name":"","label":"現在の湿度","format":"{{msg.payload}} ％","layout":"row-left","x":510,"y":400,"wires":[]},{"id":"2b0f00ad.840d5","type":"change","z":"a89b9fde.8c9c2","name":"LUX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.Illuminance.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":560,"wires":[["14a3d31e.fa2efd","b0abf725.00dc78"]]},{"id":"b0abf725.00dc78","type":"ui_text","z":"a89b9fde.8c9c2","group":"43c388d2.6587c8","order":1,"width":0,"height":0,"name":"","label":"現在の明るさ","format":"{{msg.payload}}  Lux","layout":"row-left","x":520,"y":560,"wires":[]},{"id":"14a3d31e.fa2efd","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"43c388d2.6587c8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":600,"wires":[[]]},{"id":"5447efe1.4aebc","type":"change","z":"a89b9fde.8c9c2","name":"電圧","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.voltage.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":640,"wires":[["c5a5d617.8b2ce8","9a4a37b5.c20c18"]]},{"id":"9a4a37b5.c20c18","type":"ui_text","z":"a89b9fde.8c9c2","group":"868756f3.4ff398","order":1,"width":0,"height":0,"name":"","label":"現在の電圧","format":"{{msg.payload}} mV","layout":"row-left","x":510,"y":640,"wires":[]},{"id":"c5a5d617.8b2ce8","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"868756f3.4ff398","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"2500","ymax":"3500","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":680,"wires":[[]]},{"id":"bb85afc9.193da","type":"change","z":"a89b9fde.8c9c2","name":"LQI","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LQI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":720,"wires":[["bd8b0387.98ffc","1e647231.b7562e"]]},{"id":"bd8b0387.98ffc","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"1e0e2b04.c72895","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"255","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":760,"wires":[[]]},{"id":"1e647231.b7562e","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"1e0e2b04.c72895","order":1,"width":0,"height":0,"gtype":"gage","title":"現在の電波強度","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":720,"wires":[]},{"id":"4adfa7d3.162f78","type":"function","z":"a89b9fde.8c9c2","name":"不快指数","func":"let temp = msg.payload.datas.temperature.data\nlet humi = msg.payload.datas.humidity.data\n\nif ( temp && humi ) {\n    var Discomfort_index = 0.81*temp + 0.01*humi*(0.99*temp -14.3) + 46.3\n} else {\n    return\n}\n\nmsg.payload = Math.ceil(Discomfort_index)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["21b63aea.f9d446","76c68c3b.e782e4"]]},{"id":"21b63aea.f9d446","type":"ui_text","z":"a89b9fde.8c9c2","group":"713aba5a.7d3414","order":1,"width":0,"height":0,"name":"","label":"現在の不快指数","format":"{{msg.payload}}","layout":"row-left","x":520,"y":480,"wires":[]},{"id":"76c68c3b.e782e4","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"不快指数","group":"713aba5a.7d3414","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#c0c0c0","#aeae00","#800000"],"seg1":"65","seg2":"80","x":500,"y":520,"wires":[]},{"id":"9822060d.d231f8","type":"inject","z":"7ea89789.9d5d58","name":"CREATE","topic":"CREATE TABLE IF NOT EXISTS my(name string, value int)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["ec1ea7e6.235bd8"]]},{"id":"ec34a904.e56d28","type":"debug","z":"7ea89789.9d5d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"a3377817.6ec608","type":"inject","z":"7ea89789.9d5d58","name":"select","topic":"select * from my","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["6c16e721.405698"]]},{"id":"76b3de61.e31ca","type":"debug","z":"7ea89789.9d5d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":500,"y":300,"wires":[]},{"id":"19f29bee.4ad0f4","type":"inject","z":"7ea89789.9d5d58","name":"select","topic":"insert into my values('hello',123)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["c611b28f.84f39"]]},{"id":"5208bb1c.85f2b4","type":"debug","z":"7ea89789.9d5d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":240,"wires":[]},{"id":"e29e18c0.ed5ac8","type":"json","z":"7ea89789.9d5d58","name":"","property":"payload","action":"","pretty":true,"x":450,"y":380,"wires":[["d6a32bdf.041558"]]},{"id":"d6a32bdf.041558","type":"debug","z":"7ea89789.9d5d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]},{"id":"edc0d9de.c06838","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["709c0222.c2b0fc","d61835d5.fb9328","986d892b.0da278","b8cbb4c9.629ee8"]]},{"id":"709c0222.c2b0fc","type":"ui_chart","z":"ba2114f1.a1b428","name":"","group":"e401adf9.cc5e8","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":580,"y":200,"wires":[[],[]]},{"id":"c260b4be.b5e328","type":"function","z":"ba2114f1.a1b428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["709c0222.c2b0fc"]]},{"id":"fe904a98.daba48","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":300,"wires":[["c260b4be.b5e328"]]},{"id":"d61835d5.fb9328","type":"ui_chart","z":"ba2114f1.a1b428","name":"","group":"e401adf9.cc5e8","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":580,"y":260,"wires":[[],[]]},{"id":"38a1257.0168bda","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":460,"wires":[["edc0d9de.c06838"]]},{"id":"fb19b300.9c41c","type":"inject","z":"ba2114f1.a1b428","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":660,"wires":[[]]},{"id":"2086c547.6d86ba","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["709c0222.c2b0fc","d61835d5.fb9328","986d892b.0da278","b8cbb4c9.629ee8"]]},{"id":"c543883d.f3e3e8","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":500,"wires":[["2086c547.6d86ba"]]},{"id":"123231f0.dbea4e","type":"function","z":"ba2114f1.a1b428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["709c0222.c2b0fc"]]},{"id":"c54b5224.afb54","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":340,"wires":[["123231f0.dbea4e"]]},{"id":"190d3d9d.cf5e72","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["b8cbb4c9.629ee8","d61835d5.fb9328","709c0222.c2b0fc","28b14c08.158554","4370b5e8.14e09c","986d892b.0da278"]]},{"id":"b8cbb4c9.629ee8","type":"ui_chart","z":"ba2114f1.a1b428","name":"pie chart","group":"e401adf9.cc5e8","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":620,"y":440,"wires":[[],[]]},{"id":"7395c9a5.328aa8","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":170,"y":700,"wires":[["190d3d9d.cf5e72"]]},{"id":"40d3f317.db039c","type":"function","z":"ba2114f1.a1b428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["709c0222.c2b0fc"]]},{"id":"6bc8e6b1.b1c278","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":380,"wires":[["40d3f317.db039c"]]},{"id":"4a5a3ec3.3823a","type":"function","z":"ba2114f1.a1b428","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["709c0222.c2b0fc"]]},{"id":"35105e29.d01ca2","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":420,"wires":[["4a5a3ec3.3823a"]]},{"id":"78ffac0f.f2e6e4","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["709c0222.c2b0fc","d61835d5.fb9328","b8cbb4c9.629ee8","28b14c08.158554","4370b5e8.14e09c","986d892b.0da278"]]},{"id":"fb5bb76d.6d6b88","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":620,"wires":[["78ffac0f.f2e6e4"]]},{"id":"1a359f34.0955d1","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":180,"y":740,"wires":[["9766b6ec.7a7548"]]},{"id":"9766b6ec.7a7548","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["b8cbb4c9.629ee8","d61835d5.fb9328","4370b5e8.14e09c","28b14c08.158554","709c0222.c2b0fc","986d892b.0da278"]]},{"id":"fea646e7.ebad18","type":"function","z":"ba2114f1.a1b428","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["d61835d5.fb9328","b8cbb4c9.629ee8","709c0222.c2b0fc","986d892b.0da278"]]},{"id":"300e3eb4.6de682","type":"inject","z":"ba2114f1.a1b428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":260,"wires":[["fea646e7.ebad18"]]},{"id":"c5540818.32da28","type":"function","z":"ba2114f1.a1b428","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["d61835d5.fb9328","b8cbb4c9.629ee8","709c0222.c2b0fc","986d892b.0da278"]]},{"id":"d4e12e43.a1e3c","type":"inject","z":"ba2114f1.a1b428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":220,"wires":[["c5540818.32da28"]]},{"id":"7c5cd0dc.579ff","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["d61835d5.fb9328","28b14c08.158554","4370b5e8.14e09c","709c0222.c2b0fc","986d892b.0da278","b8cbb4c9.629ee8"]]},{"id":"e8961a80.6eca98","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":540,"wires":[["7c5cd0dc.579ff"]]},{"id":"be7d4c55.b11b5","type":"function","z":"ba2114f1.a1b428","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["d61835d5.fb9328","709c0222.c2b0fc","4370b5e8.14e09c","28b14c08.158554","986d892b.0da278","b8cbb4c9.629ee8"]]},{"id":"b343cbcb.9e28b8","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":580,"wires":[["be7d4c55.b11b5"]]},{"id":"986d892b.0da278","type":"ui_chart","z":"ba2114f1.a1b428","name":"","group":"8ed281bc.09ffa","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":600,"y":320,"wires":[[],[]]},{"id":"28b14c08.158554","type":"ui_chart","z":"ba2114f1.a1b428","name":"","group":"8ed281bc.09ffa","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":630,"y":560,"wires":[[],[]]},{"id":"4370b5e8.14e09c","type":"ui_chart","z":"ba2114f1.a1b428","name":"","group":"8ed281bc.09ffa","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":630,"y":620,"wires":[[],[]]},{"id":"cabfad43.3202f","type":"function","z":"ba2114f1.a1b428","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["b8cbb4c9.629ee8","d61835d5.fb9328","709c0222.c2b0fc","986d892b.0da278"]]},{"id":"8f1b3c0e.19a5b","type":"inject","z":"ba2114f1.a1b428","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["cabfad43.3202f"]]},{"id":"14af7aa3.02e2b5","type":"ui_button","z":"ba2114f1.a1b428","name":"","group":"fa25f148.10a8e","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":300,"y":140,"wires":[["4370b5e8.14e09c","28b14c08.158554","b8cbb4c9.629ee8","986d892b.0da278","d61835d5.fb9328","709c0222.c2b0fc"]]},{"id":"ec1ea7e6.235bd8","type":"sqlite","z":"7ea89789.9d5d58","mydb":"a747799b.7ed2d8","sqlquery":"msg.topic","sql":"","name":"create","x":330,"y":180,"wires":[["ec34a904.e56d28"]]},{"id":"6c16e721.405698","type":"sqlite","z":"7ea89789.9d5d58","mydb":"a747799b.7ed2d8","sqlquery":"msg.topic","sql":"","name":"create","x":330,"y":300,"wires":[["76b3de61.e31ca","e29e18c0.ed5ac8"]]},{"id":"c611b28f.84f39","type":"sqlite","z":"7ea89789.9d5d58","mydb":"a747799b.7ed2d8","sqlquery":"msg.topic","sql":"","name":"create","x":330,"y":240,"wires":[["5208bb1c.85f2b4"]]}]