flow.json
[{"id":"a89b9fde.8c9c2","type":"tab","label":"main","disabled":false,"info":""},{"id":"bd2546af.32d818","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f7284f99.1d5c1","type":"ui_group","z":"","name":"温度","tab":"216ffee2.4c1d82","order":1,"disp":true,"width":"8","collapse":false},{"id":"dc3f775b.446e38","type":"ui_group","z":"","name":"湿度","tab":"216ffee2.4c1d82","order":2,"disp":true,"width":8,"collapse":false},{"id":"43c388d2.6587c8","type":"ui_group","z":"","name":"明るさ","tab":"216ffee2.4c1d82","order":4,"disp":true,"width":8,"collapse":false},{"id":"1e0e2b04.c72895","type":"ui_group","z":"","name":"通信品質","tab":"20e3aaa0.8d34d6","order":1,"disp":true,"width":"8","collapse":false},{"id":"713aba5a.7d3414","type":"ui_group","z":"","name":"不快指数","tab":"216ffee2.4c1d82","order":3,"disp":true,"width":8,"collapse":false},{"id":"20e3aaa0.8d34d6","type":"ui_tab","z":"","name":"デバイス","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"216ffee2.4c1d82","type":"ui_tab","z":"","name":"環境","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e8ef3574.9320a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0080c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"環境モニター","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":12,"gy":12,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a747799b.7ed2d8","type":"sqlitedb","z":"","db":"measurement.sqlite3","mode":"RWC"},{"id":"49b88c58.b7b884","type":"ui_group","z":"","name":"デバイス","tab":"20e3aaa0.8d34d6","order":3,"disp":true,"width":"8","collapse":false},{"id":"868756f3.4ff398","type":"ui_group","z":"","name":"電源電圧","tab":"20e3aaa0.8d34d6","order":2,"disp":true,"width":"8","collapse":false},{"id":"e19d0dc0.4115d","type":"serial in","z":"a89b9fde.8c9c2","name":"","serial":"bd2546af.32d818","x":90,"y":180,"wires":[["35ab3eee.d8b7c2","a8f23c9d.18cb1"]]},{"id":"79753573.95d6ec","type":"debug","z":"a89b9fde.8c9c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":160,"wires":[]},{"id":"3bd91b47.270614","type":"comment","z":"a89b9fde.8c9c2","name":"AMB 固定長インプット","info":"App_PAL-Parent-BLUE-MONOSTICK.bin","x":140,"y":20,"wires":[]},{"id":"35ab3eee.d8b7c2","type":"debug","z":"a89b9fde.8c9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":120,"wires":[]},{"id":"2223fc59.819984","type":"cpu","z":"a89b9fde.8c9c2","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":350,"y":1000,"wires":[["7b43e3bc.49d37c","f47aba17.834828"]]},{"id":"8482c726.8f99e8","type":"inject","z":"a89b9fde.8c9c2","name":"CPU情報","topic":"","payload":"","payloadType":"date","repeat":"12","crontab":"","once":true,"onceDelay":"2","x":150,"y":1000,"wires":[["2223fc59.819984"]]},{"id":"7b43e3bc.49d37c","type":"debug","z":"a89b9fde.8c9c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1040,"wires":[]},{"id":"f47aba17.834828","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"49b88c58.b7b884","order":3,"width":0,"height":0,"gtype":"gage","title":"Host CPU","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":1000,"wires":[]},{"id":"ecaea0c7.42cef","type":"inject","z":"a89b9fde.8c9c2","name":"タブ切り替え","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"15","x":160,"y":1100,"wires":[[]]},{"id":"a47bfd79.bb5bf","type":"function","z":"a89b9fde.8c9c2","name":"タブ切り替え","func":"var tab = flow.get('tab') || 0;\n\nif (tab === 0) {\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\nflow.set('tab', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1100,"wires":[["42e96c15.354264"]]},{"id":"42e96c15.354264","type":"ui_ui_control","z":"a89b9fde.8c9c2","name":"","events":"change","x":540,"y":1100,"wires":[[]]},{"id":"a8f23c9d.18cb1","type":"function","z":"a89b9fde.8c9c2","name":"AMB","func":"let data = msg.payload;\n\nv = (value, start, end) => {\n  return parseInt(value.substr(start, end), 16);\n}\n\nn = (value) => {\n  senser = value\n  if (value === 0x00) {\n    senser = 'hall-ic'  // ホールIC\n  } else if (value === 0x01) {\n    senser = 'temperature'\n  } else if (value === 0x02) {\n    senser = 'humidity'\n  } else if (value === 0x03) {\n    senser = 'illuminance'\n  } else if (value === 0x30) {\n    senser = 'voltage'\n  }\n  return senser;\n}\n\nphaseData = (rect) => {\n  let payload = {};\n  let data = rect\n  if (data[0] != ':') return null\n\n//   payload.timestamp = new Date().toLocaleString(\"ja\")\n//   payload.timestamp = Date.now()\n  payload.routerId = v(data, 1, 8)  // #1\n  if (payload.routerId != 0x80000000) return null;\n\n  payload.LQI = v(data, 9, 2) // #2\n  payload.SEQ = v(data, 11, 4) // #3\n  payload.endDeviceSerial = v(data, 15, 8) // #4\n  payload.endDeviceId = v(data, 23, 2) // #5\n  payload.senserCat = v(data, 25, 2)  // #6 PAL: 0x80固定\n  // #10 PAL ver  MAG：0x01  AMB：0x02  MOT：0x03\n  payload.palId = (v(data, 27, 2) & 0b00011110)\n  // #10 上位3ビット\n  payload.palVersion = (v(data, 27, 2) & 0xE0) >> 5;\n  // change bit\n  payload.palVersion = (payload.palVersion & 0x01) << 2 | payload.palVersion & 0x02 | (payload.palVersion & 0x04) >> 2\n\n  payload.numSenser = v(data, 29, 2)  // #11\n  if (!payload.numSenser) return null\n\n  payload.datas = {}\n  let __addr = 31\n  for (let i = 0; i < payload.numSenser; i++) {\n    let senser = {}\n    // senser.dataType = v(data, __addr, 2)\n    let senser_type = v(data, __addr + 2, 2) // #2\n    senser.type = senser_type\n\n    senser.dataSource = n(senser_type)\n\n    let datalen = v(data, __addr + 6, 2) // #4\n\n    if (senser.dataSource == 'voltage') {\n      // #3\n      senser.voltage_source = v(data, __addr + 4, 2)\n      // 0x08 電源電圧のみ対象\n      if (senser.voltage_source != 0x08) {\n        __addr += 8 + datalen * 2;\n        continue\n      }\n    }\n    senser.data = v(data, __addr + 8, datalen * 2)\n    if (senser.dataSource == 'temperature') senser.data /= 100.0;\n    if (senser.dataSource == 'humidity') senser.data /= 100.0;\n    __addr += 8 + datalen * 2;\n\n    payload.datas[senser.dataSource] = senser\n  }\n  // Discomfort_index\n  // node.warn(payload.datas)\n  if (payload.datas.temperature.data && payload.datas.humidity.data) {\n    let temp = payload.datas.temperature.data\n    let humi = payload.datas.humidity.data\n    let discomfort_index = Math.ceil(0.81*temp + 0.01*humi*(0.99*temp -14.3) + 46.3)\n    payload.datas.discomfortIndex = {}\n    payload.datas.discomfortIndex['data'] = discomfort_index\n  }\n  // msg.payload = payload;\n\n  return payload\n}\n\nmsg.payload = phaseData(data);\nmsg.timestamp = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":260,"wires":[["307a005e.ad683","6cc6778f.12d1e8","2b0f00ad.840d5","5447efe1.4aebc","bb85afc9.193da","79753573.95d6ec","3b9695f7.3246aa","1353a4ed.4aecbb"]]},{"id":"b666c2b9.45676","type":"ui_chart","z":"a89b9fde.8c9c2","name":"温度","group":"f7284f99.1d5c1","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"温度","dot":false,"ymin":"12","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":300,"wires":[[]],"outputLabels":["payload.sensers[2].data"]},{"id":"307a005e.ad683","type":"change","z":"a89b9fde.8c9c2","name":"温度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.temperature.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":320,"wires":[["9b83ee3b.a35bc","b666c2b9.45676","2737c01a.a0bd2"]]},{"id":"9b83ee3b.a35bc","type":"ui_text","z":"a89b9fde.8c9c2","group":"f7284f99.1d5c1","order":1,"width":3,"height":4,"name":"","label":"現在の温度","format":"","layout":"row-left","x":430,"y":280,"wires":[]},{"id":"6cc6778f.12d1e8","type":"change","z":"a89b9fde.8c9c2","name":"湿度","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.humidity.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["74a492f0.01eb1c","9fc22c1.f3df5d","52166661.87e1c8"]]},{"id":"74a492f0.01eb1c","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"dc3f775b.446e38","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":420,"wires":[[]]},{"id":"9fc22c1.f3df5d","type":"ui_text","z":"a89b9fde.8c9c2","group":"dc3f775b.446e38","order":1,"width":4,"height":4,"name":"","label":"現在の湿度","format":"","layout":"row-left","x":430,"y":400,"wires":[]},{"id":"2b0f00ad.840d5","type":"change","z":"a89b9fde.8c9c2","name":"LUX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.illuminance.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":680,"wires":[["14a3d31e.fa2efd","b0abf725.00dc78"]]},{"id":"b0abf725.00dc78","type":"ui_text","z":"a89b9fde.8c9c2","group":"43c388d2.6587c8","order":1,"width":0,"height":0,"name":"","label":"現在の明るさ","format":"{{msg.payload}}  Lux","layout":"row-left","x":440,"y":640,"wires":[]},{"id":"14a3d31e.fa2efd","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"43c388d2.6587c8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":660,"wires":[[]]},{"id":"5447efe1.4aebc","type":"change","z":"a89b9fde.8c9c2","name":"電圧","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.voltage.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":780,"wires":[["c5a5d617.8b2ce8","9a4a37b5.c20c18"]]},{"id":"9a4a37b5.c20c18","type":"ui_text","z":"a89b9fde.8c9c2","group":"868756f3.4ff398","order":1,"width":0,"height":0,"name":"","label":"現在の電圧","format":"{{msg.payload}} mV","layout":"row-left","x":430,"y":780,"wires":[]},{"id":"c5a5d617.8b2ce8","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"868756f3.4ff398","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"2500","ymax":"3500","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":820,"wires":[[]]},{"id":"bb85afc9.193da","type":"change","z":"a89b9fde.8c9c2","name":"LQI","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LQI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":860,"wires":[["bd8b0387.98ffc","1e647231.b7562e"]]},{"id":"bd8b0387.98ffc","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"1e0e2b04.c72895","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"255","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":900,"wires":[[]]},{"id":"1e647231.b7562e","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"1e0e2b04.c72895","order":1,"width":0,"height":0,"gtype":"gage","title":"現在の電波強度","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":860,"wires":[]},{"id":"21b63aea.f9d446","type":"ui_text","z":"a89b9fde.8c9c2","group":"713aba5a.7d3414","order":1,"width":4,"height":4,"name":"","label":"現在の不快指数","format":"","layout":"row-left","x":440,"y":520,"wires":[]},{"id":"76c68c3b.e782e4","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"不快指数","group":"713aba5a.7d3414","order":2,"width":4,"height":4,"gtype":"wave","title":"","label":"","format":"{{value}}","min":"50","max":"100","colors":["#c0c0c0","#aeae00","#800000"],"seg1":"65","seg2":"80","x":600,"y":540,"wires":[]},{"id":"50f4b5df.c45b7c","type":"inject","z":"a89b9fde.8c9c2","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["2cd5fbef.faede4","282262dd.18f8ce","31c7e48a.bee2bc","cf04e9fe.c3c0b8","f8d240b4.cc845"]]},{"id":"8bb2c247.ca7cd","type":"sqlite","z":"a89b9fde.8c9c2","mydb":"a747799b.7ed2d8","sqlquery":"msg.topic","sql":"","name":"SQL","x":610,"y":140,"wires":[[]]},{"id":"2cd5fbef.faede4","type":"template","z":"a89b9fde.8c9c2","name":"create","field":"topic","fieldType":"msg","format":"text","syntax":"plain","template":"CREATE TABLE IF NOT EXISTS MEASUREMENT(\n    device TEXT,\n    TIMESTAMP INTEGER PRIMARY KEY NOT NULL,\n    temperature REAL,\n    humidity REAL,\n    illuminance INTEGER,\n    discomfortIndex INTEGER,\n    voltage INTEGER\n)","output":"str","x":330,"y":80,"wires":[["8bb2c247.ca7cd"]]},{"id":"3b9695f7.3246aa","type":"function","z":"a89b9fde.8c9c2","name":"store","func":"let data = msg.payload.datas\n// node.log(data)\nlet voltage = data.voltage.data\nlet temperature = data.temperature.data\nlet humidity = data.humidity.data\nlet illuminance = data.illuminance.data\nlet discomfortIndex = data.discomfortIndex.data\n\n\n// datetime('now', 'localtime'),\n// ${Date.now()},\nlet sql = `insert into MEASUREMENT values(\n    ${msg.payload.endDeviceSerial},\n    ${msg.timestamp},\n    ${temperature},\n    ${humidity},\n    ${illuminance},\n    ${discomfortIndex},\n    ${voltage}\n)\n`\nmsg.topic = sql\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["8bb2c247.ca7cd"]]},{"id":"282262dd.18f8ce","type":"sqlite","z":"a89b9fde.8c9c2","mydb":"a747799b.7ed2d8","sqlquery":"fixed","sql":"select timestamp as x,\ntemperature as y\nfrom measurement\norder by x limit 60*24*2","name":"SQL","x":410,"y":340,"wires":[["f2bf39f5.718ba8"]]},{"id":"f2bf39f5.718ba8","type":"function","z":"a89b9fde.8c9c2","name":"chart data","func":"let data = msg.payload\nlet chart = [{\n    \"series\":[\"\"],\n    \"data\": [data]\n}]\n\nmsg.payload = chart;\nnode.warn(chart)\nreturn msg;\n\n// var chart = [{\n//     \"series\":[\"A\",\"B\",\"C\"],\n//     \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n//     // \"labels\":[\"\"]\n// }];\n// msg.payload = chart;\n// return msg;\n\n// var chart = [{\n//     \"series\":[\"A\",\"B\",\"C\"],\n//     \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n//     \"labels\":[\"\"]\n// }];\n// msg.payload = chart;\n// return msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["b666c2b9.45676"]]},{"id":"1353a4ed.4aecbb","type":"change","z":"a89b9fde.8c9c2","name":"不快指数","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.datas.discomfortIndex.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":560,"wires":[["21b63aea.f9d446","76c68c3b.e782e4"]]},{"id":"31c7e48a.bee2bc","type":"sqlite","z":"a89b9fde.8c9c2","mydb":"a747799b.7ed2d8","sqlquery":"fixed","sql":"select timestamp as x,\nhumidity as y\nfrom measurement\norder by x limit 60*24*2","name":"SQL","x":410,"y":460,"wires":[["2837eff7.9d22a"]]},{"id":"2837eff7.9d22a","type":"function","z":"a89b9fde.8c9c2","name":"chart data","func":"let data = msg.payload\nlet chart = [{\n    \"series\":[\"\"],\n    \"data\": [data]\n}]\n\nmsg.payload = chart;\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["74a492f0.01eb1c"]]},{"id":"cf04e9fe.c3c0b8","type":"sqlite","z":"a89b9fde.8c9c2","mydb":"a747799b.7ed2d8","sqlquery":"fixed","sql":"select timestamp as x,\ndiscomfortIndex as y\nfrom measurement\norder by x limit 60*24*2","name":"SQL","x":410,"y":580,"wires":[["58656a6d.5d0834"]]},{"id":"58656a6d.5d0834","type":"function","z":"a89b9fde.8c9c2","name":"chart data","func":"let data = msg.payload\nlet chart = [{\n    \"series\":[\"\"],\n    \"data\": [data]\n}]\n\nmsg.payload = chart;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["a356fc03.4d3f2"]]},{"id":"a356fc03.4d3f2","type":"ui_chart","z":"a89b9fde.8c9c2","name":"","group":"713aba5a.7d3414","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":580,"wires":[[]]},{"id":"f8d240b4.cc845","type":"sqlite","z":"a89b9fde.8c9c2","mydb":"a747799b.7ed2d8","sqlquery":"fixed","sql":"select timestamp as x,\nilluminance as y\nfrom measurement\norder by x limit 60*24*2","name":"SQL","x":410,"y":700,"wires":[["5cb2ab78.fc0de4"]]},{"id":"5cb2ab78.fc0de4","type":"function","z":"a89b9fde.8c9c2","name":"chart data","func":"let data = msg.payload\nlet chart = [{\n    \"series\":[\"\"],\n    \"data\": [data]\n}]\n\nmsg.payload = chart;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["14a3d31e.fa2efd"]]},{"id":"2737c01a.a0bd2","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"f7284f99.1d5c1","order":2,"width":5,"height":4,"gtype":"gage","title":"","label":"℃","format":"{{value | number:1}}","min":"10","max":"36","colors":["#0094ce","#0094ce","#0094ce"],"seg1":"","seg2":"","x":590,"y":260,"wires":[]},{"id":"52166661.87e1c8","type":"ui_gauge","z":"a89b9fde.8c9c2","name":"","group":"dc3f775b.446e38","order":2,"width":4,"height":4,"gtype":"wave","title":"","label":"％","format":"{{value | number:1}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":590,"y":380,"wires":[]}]